  RewriteEngine On

  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  RewriteRule ^admin/assets/css - [L]
  RewriteRule ^admin/assets/js - [L]

  # Изключете правилото за папката "admin"
  RewriteCond %{REQUEST_URI} !^/admin/

  # Изключете правилото, ако заявката сочи към реален файл или директория
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Пренасочете към index.php
  RewriteRule ^(.*)$ index.php [L]

  # Пренасочете към index.php в директорията admin
  RewriteRule ^admin/(.*)$ admin/index.php [L]
